<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a href="./index.html" class="logo link">
        <span class="header__nav-logo">SIMPLY</span> CHOCOLATE
        <svg class="chocolate-icon">
          <use href="./svg/sprite.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="list header__nav-list">
        <li><a href="./index.html" class="link header__nav-link">Home</a></li>
        <li>
          <a href="#how-its-made" class="link header__nav-link"
            >How it’s made?</a
          >
        </li>
        <li>
          <a href="#our-products" class="link header__nav-link">Our products</a>
        </li>
        <li>
          <a href="#top-sellers" class="link header__nav-link">Top sellers</a>
        </li>
        <li>
          <a href="#chocolate-love" class="link header__nav-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>

    <ul class="list header__social-list">
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          class="link header__social-link"
          aria-label="Instagram icon"
        >
          <svg class="header__social-icon">
            <use href="./svg/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.twitter.com"
          target="_blank"
          class="link header__social-link"
          aria-label="Twitter icon"
        >
          <svg class="header__social-icon">
            <use href="./svg/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="header__burger-button js-open-menu"
      aria-label="open mobile menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-burger">
        <use href="./svg/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
