<section class="hero">
  <div class="container">
    <div class="hero__section">
      <h2 class="visually-hidden">Simply Chocolate</h2>
      <h1 class="hero__section-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <ul class="hero__section-list">
        <li class="hero__section-item">
          <button
            class="small-text-button accent-button hero__buy-button"
            type="button"
            data-first-modal-open
          >
            Buy now
          </button>
        </li>
        <li class="hero__section-item">
          <a
            class="small-text-button transparent-button hero__made-button"
            href="#how-its-made"
          >
            How it’s made
          </a>
        </li>
        <li class="hero__section-item">
          <a class="scroll__button scroll__button-down" href="#components">
            scroll down
            <span class="icon-arrow-wrapper icon-arrow-wrapper-down">
              <svg class="icon-arrow icon-arrow-down">
                <use href="./svg/sprite.svg#icon-arrow"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="isShowBtn isShowBtn-hide">
      <button class="scroll__button scroll__button-top">
        scroll top
        <span class="icon-arrow-wrapper icon-arrow-wrapper-top">
          <svg class="icon-arrow icon-arrow-top">
            <use href="./svg/sprite.svg#icon-arrow"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
