<section class="products" id="our-products">
  <div class="container">
    <h2 class="section__title">
      Our <span class="section__title-span">products</span>
    </h2>
    <div class="swiper products__swiper">
      <ul class="products__swiper-list swiper-wrapper">
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/orange-2x.jpg 2x"
            src="./img/products/orange-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Orange</h3>
            <p class="products__swiper-desc">Dark chocolate</p>
            <button class="products__swiper-button" type="button">45 UAH</button>
          </div>
        </li>
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/apple-2x.jpg 2x"
            src="./img/products/apple-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Apple&cranberry</h3>
            <p class="products__swiper-desc">Milk chocolate</p>
            <button class="products__swiper-button" type="button">50 UAH</button>
          </div>
        </li>
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/lime-2x.jpg 2x"
            src="./img/products/lime-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Lime&sea salt</h3>
            <p class="products__swiper-desc">Dark chocolate</p>
            <button class="products__swiper-button" type="button">66 UAH</button>
          </div>
        </li>
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/pineapple-2x.jpg 2x"
            src="./img/products/pineapple-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Pineapple</h3>
            <p class="products__swiper-desc">Dark chocolate</p>
            <button class="products__swiper-button" type="button">54 UAH</button>
          </div>
        </li>
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/classic-milk-2x.jpg 2x"
            src="./img/products/classic-milk-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Classic</h3>
            <p class="products__swiper-desc">Milk chocolate</p>
            <button class="products__swiper-button" type="button">45 UAH</button>
          </div>
        </li>
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/honey-2x.jpg 2x"
            src="./img/products/honey-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Honey</h3>
            <p class="products__swiper-desc">Milk chocolate</p>
            <button class="products__swiper-button" type="button">50 UAH</button>
          </div>
        </li>
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/roasted-2x.jpg 2x"
            src="./img/products/roasted-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Roasted fruits</h3>
            <p class="products__swiper-desc">Dark chocolate</p>
            <button class="products__swiper-button" type="button">66 UAH</button>
          </div>
        </li>
        <li class="products__swiper-item swiper-slide">
          <img
            class="products__swiper-img"
            loading="lazy"
            srcset="./img/products/classic-white-2x.jpg 2x"
            src="./img/products/classic-white-1x.jpg"
            alt="our products"
            width="230"
            height="201"
          />
          <div class="products__swiper-name">
            <h3 class="products__swiper-title">Classic</h3>
            <p class="products__swiper-desc">White chocolate</p>
            <button class="products__swiper-button" type="button">54 UAH</button>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>