<section class="reviews">
  <div class="container">
    <h2 class="section__title">
      <span class="section__title-span">chocolate</span> is loved
    </h2>
    <div class="swiper reviews__swiper">
      <ul class="reviews__swiper-list swiper-wrapper">
        <li class="reviews__swiper-item swiper-slide">
          <img
            
            width="80"
            height="80"
            class="reviews__swiper-photo"
            srcset="./img/reviews/user_photo@2x.jpg 2x"
            src="./img/reviews/user_photo.jpg"
            alt="Victoria Dobrzhanska"
          />
          <h3 class="reviews__swiper-name">Victoria Dobrzhanska</h3>
          <p class="reviews__swiper-direction">
            I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
          </p>
        </li>

        <li class="reviews__swiper-item swiper-slide">
          <img
            
            width="80"
            height="80"
            class="reviews__swiper-photo"
            srcset="./img/reviews/user_photo_2@2x.jpg 2x"
            src="./img/reviews/user_photo_2.jpg"
            alt="Nazar Babenko"
          />
          <h3 class="reviews__swiper-name">Nazar Babenko</h3>
          <p class="reviews__swiper-direction">
            This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.
          </p>
        </li>

        <li class="reviews__swiper-item swiper-slide">
          <img
            
            width="80"
            height="80"
            class="reviews__swiper-photo"
            srcset="./img/reviews/user_photo_3@2x.jpg 2x"
            src="./img/reviews/user_photo_3.jpg"
            alt="Olena Kampusch"
          />
          <h3 class="reviews__swiper-name">Olena Kampusch</h3>
          <p class="reviews__swiper-direction">
            Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>

        <li class="reviews__swiper-item swiper-slide">
          <img
            
            width="80"
            height="80"
            class="reviews__swiper-photo"
            srcset="./img/reviews/user_photo_4@2x.jpg 2x"
            src="./img/reviews/user_photo_4.jpg"
            alt="Natalia Sus"
          />
          <h3 class="reviews__swiper-name">Natalia Sus</h3>
          <p class="reviews__swiper-direction">
            The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. 
          </p>
        </li>

        <li class="reviews__swiper-item swiper-slide">
          <img
            
            width="80"
            height="80"
            class="reviews__swiper-photo"
            srcset="./img/reviews/user_photo_5@2x.jpg 2x"
            src="./img/reviews/user_photo_5.jpg"
            alt="Danilo Nottingham"
          />
          <h3 class="reviews__swiper-name">Danilo Nottingham</h3>
          <p class="reviews__swiper-direction">
            This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.
          </p>
        </li>

        <li class="reviews__swiper-item swiper-slide">
          <img
            
            width="80"
            height="80"
            class="reviews__swiper-photo"
            srcset="./img/reviews/user_photo_6@2x.jpg 2x"
            src="./img/reviews/user_photo_6.jpg"
            alt="Irina Tydnyuk"
          />
          <h3 class="reviews__swiper-name">Irina Tydnyuk</h3>
          <p class="reviews__swiper-direction">
            This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <button
    class="button transparent-button reviews__swiper-button"
    type="button"
    data-second-modal-open
  >
    Leave a review
  </button>
</section>
