<section class="sellers" id="top-sellers">
  <div class="container">
    <h2 class="section__title">
      <span class="section__title-span">top</span> sellers
    </h2>
    <ul class="sellers__section-list">
      <li class="sellers__section-item sellers__section-choc1">
        <img
          loading="lazy"
          class="sellers__section-img"
          srcset="./img/sellers/top-sellers1@2x.jpg 2x"
          src="./img/sellers/top-sellers1.jpg"
          alt="Chocolate nuts and cofee"
          width="335"
          height="464"

        />
        <p class="sellers__section-text1">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers__section-item sellers__section-choc2">
        <img
          loading="lazy"
          class="sellers__section-img"
          srcset="./img/sellers/top-sellers2@2x.jpg 2x"
          src="./img/sellers/top-sellers2.jpg"
          alt="Milk chocolate"
          width="335"
          height="464"
        />
      </li>
      <li class="sellers__section-item sellers__section-choc3">
        <img
          loading="lazy"
          class="sellers__section-img"
          srcset="./img/sellers/top-sellers3@2x.jpg 2x"
          src="./img/sellers/top-sellers3.jpg"
          alt="Chocolate and candys"
          width="335"
          height="464"
        />
      </li>
    </ul>
    <div class="sellers__section-text-button">
      <p class="sellers__section-text2">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        class="button accent-button sellers__section-button"
        type="button"
        data-first-modal-open
      >
        Buy now
      </button>
    </div>
  </div>
</section>
