<div class="backdrop is-hidden" data-third-modal id="subscribe__backdrop">
  <div class="modal subscribe__modal" id="subscribe__modal">
    <div class="subscribe__modal-container">
      <button
        class="modal-close-btn"
        type="button"
        aria-label="close modal window"
        data-third-modal-close
      >
        <svg class="modal-close-icon subscribe__modal-close">
          <use href="./svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal__window-title subscribe__modal-title">
        Explore our
        <span> <span class="section__title-span">new chocolate </span>first! </span>
      </h2>
      <form class="subscribe__form" autocomplete="off" id="subscribe__form">
        <input
          id="subscribe__email"
          class="form-input subscribe__form-input"
          type="email"
          name="subscribe__email"
          placeholder="Enter your email"
          required
        />
        <button
          class="modal-button accent-button subscribe__form-submit"
          type="submit"
          id="subscribe__form-submit"

        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>
