<div class="backdrop is-hidden" data-sixth-modal id="thanks__modal-backdrop">
    <div class="modal thanks__modal" id="thanks__modal">
      <div class="thanks__modal-container">
        <h2 class="modal__window-title thanks__modal-title">
          <span> <span class="section__title-span">Thank you </span>for feedback! </span>
        </h2>
        <form class="thanks__form" autocomplete="off" id="thanks__form">
          <button
            id="thanks__form-submit"
            class="modal-button accent-button thanks__form-submit"
            type="button"
            data-sixth-modal-close
          >
          You are welcome!
          </button>
        </form>
      </div>
    </div>
  </div>
  