@mixin button-styles {
    font-weight: 600;
    border-radius: 100px;
    text-align: center
  }
  
  .button {
    @include button-styles;
  }
  
  .modal-button, 
  .small-text-button {
    @include button-styles;
    line-height: 1.21;  
  }
  
  @mixin accent-button-styles {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    border: none;
    transition: 
      color var(--general-transition),
      background-color var(--general-transition);
  }
  
  .accent-button { 
    @include accent-button-styles;
    &:hover,
    &:focus {
      color: var(--accent-color);
      background-color: #fcf1e0; 
    }
  }
  
  .transparent-button {
    background-color: transparent;
    transition: 
      color var(--general-transition),
      background-color var(--general-transition),
      border-color var(--general-transition);
  }

  @media screen and (max-width: 768px) {
    .button {
      line-height: 1.21;
    }
  
    .accent-button {
      padding: 12px 28px;
    }
  
    .transparent-button {
      padding: 11px 27px;
    }

    .subscribe__form-submit {
      padding: 14px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .button {
      font-size: 18px;
      line-height: 1.22;
    }
  
    .accent-button {
      padding: 14px 40px;
    }
  
    .transparent-button {
      padding: 13px 39px;
    }

    .subscribe__form-submit {
      padding: 17px 33px 18px 32px;
    }
  }