.hero {
  color: var(--secondary-text-color);

  &__section {
    margin-left: auto;
    margin-right: auto;
  
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;

    &-title {
      margin-bottom: 32px;
    
      font-weight: 500;
      letter-spacing: -0.03em;
    }

    &-list {
      display: flex;
      align-items: center;
    }
  }

  &__made {

    &-button {
      display: inline-block;
    
      border: 1px solid var(--additional-bg-color);

      &:hover,
      &:focus {
        color: var(--accent-color);
        background-color: var(--additional-bg-color);
        border-color: var(--accent-color);
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__section {

      &-title {
        font-size: 20px;
        line-height: 1.2;
      }

      &-list {
        flex-wrap: wrap;
        column-gap: 14px;
        row-gap: 32px;
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    &__section {

      &-title {
        max-width: 484px;
    
        font-size: 28px;
        line-height: 1.21;
      }

      &-item {

        &:first-child {
          margin-right: 14px;
        }

        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .hero__section {
    padding-top: 395px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  @media screen and (max-device-pixel-ratio: 1.99),
    screen and (-webkit-max-device-pixel-ratio: 1.99),
    screen and (max-resolution: 191dpi),
    screen and (max-resolution: 1.99dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-mobile.webp');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-device-pixel-ratio: 2.99),
    screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
    screen and (min-resolution: 192dpi) and (max-resolution: 287dpi),
    screen and (min-resolution: 2dppx) and (max-resolution: 2.99dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-mobile@2x.webp');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-mobile@3x.webp');
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero__section {
    padding-top: 671px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  @media screen and (max-device-pixel-ratio: 1.99),
    screen and (-webkit-max-device-pixel-ratio: 1.99),
    screen and (max-resolution: 191dpi),
    screen and (max-resolution: 1.99dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-tablet.webp');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-device-pixel-ratio: 2.99),
    screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
    screen and (min-resolution: 192dpi) and (max-resolution: 287dpi),
    screen and (min-resolution: 2dppx) and (max-resolution: 2.99dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-tablet@2x.webp');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-tablet@3x.webp');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 381px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  @media screen and (max-device-pixel-ratio: 1.99),
    screen and (-webkit-max-device-pixel-ratio: 1.99),
    screen and (max-resolution: 191dpi),
    screen and (max-resolution: 1.99dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-desktop.webp');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-device-pixel-ratio: 2.99),
    screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99),
    screen and (min-resolution: 192dpi) and (max-resolution: 287dpi),
    screen and (min-resolution: 2dppx) and (max-resolution: 2.99dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-desktop@2x.webp');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero__section {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('/img/hero/bg-desktop@3x.webp');
    }
  }
}
