.howmade {

  &__section {

    @media screen and (max-width: 768px) {
      gap: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      padding-left: 45px;
      padding-right: 45px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      column-gap: 20px;  
    }
  }

  &__container {

    &-title {
      font-weight: 600;
      font-size: 18px;  
      line-height: 1.33;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 28px;  
      }
    }

    background-color: var(--additional-bg-color);
    border-radius: 15px;

    @media screen and (max-width: 768px) {
      max-width: 335px;
      padding: 20px 14px; 
    }

    @media screen and (min-width: 768px) {
      padding: 32px;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      max-width: 614px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 516px;
      max-height: 400px;
    }

    &-list {
      list-style: disc;
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      gap: 24px;

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        padding-right: 70px;
      }
    }

    &-item {
      line-height: 1.29; 
      letter-spacing: -0.02em;

      @media screen and (min-width: 1200px) {
        max-width: 425px;
      }
    }
  }
}
