.subscribe__modal {
  position: relative;

  @media screen and (max-width: 768px) and (max-height: 370px) {
      height: 96%;
      overflow: auto;
  }
  
  @media screen and (min-width: 768px) and (max-height: 430px) {
      height: 96%;
      overflow: auto;
  }

  &-container {
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 15px;
  }

  &-close {
    stroke: var(--additional-bg-color);
  }

  &-title {
    display: flex;
    flex-direction: column;
  }
}

.subscribe__form {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .subscribe {

    &__modal {

      &-container {
        padding: 201px 24px 32px 24px;
        background-size: auto 169px;
      }

      &-title {
        max-width: 263px;
        margin-bottom: 24px;
      }
    }

    &__form {
      position: relative;

      &-input {
        padding-right: 110px;
    
        border-radius: 25px;
      }

      &-submit {
        position: absolute;
        right: 0px;
    
        min-width: 100px;
        padding: 14px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .subscribe {

    &__modal {
      width: 538px;

      &-container {
        padding: 236px 40px 40px 40px;
        background-size: auto 196px;
      }

      &-title {
        max-width: 298px;
        margin-bottom: 28px;
      }
    }

    &__form {

      &-input {
        height: 52px;

        border-radius: 30px;
      }

      &-submit {
        min-width: 137px;
        height: 52px;
        padding: 17px 33px 18px 32px;
        margin-left: 8px;
      }
    }
  }
}


@media screen and (max-device-pixel-ratio: 1.99) and (max-width: 768px),
  screen and (max-resolution: 191dpi) and (max-width: 768px),
  screen and (max-resolution: 1.99dppx) and (max-width: 768px) {
  .subscribe__modal-container {
    background-image: url('/img/subscribe/modal-subscribe-mobile.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px),
  screen and (min-resolution: 192dpi) and (max-width: 768px),
  screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .subscribe__modal-container {
    background-image: url('/img/subscribe/modal-subscribe-mobile@2x.jpg');
  }
}

@media screen and (max-device-pixel-ratio: 1.99) and (min-width: 768px),
  screen and (max-resolution: 191dpi) and (min-width: 768px),
  screen and (max-resolution: 1.99dppx) and (min-width: 768px) {
  .subscribe__modal-container {
    background-image: url('/img/subscribe/modal-subscribe-tablet-desktop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .subscribe__modal-container {
    background-image: url('/img/subscribe/modal-subscribe-tablet-desktop@2x.jpg');
  }
}
